In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [17]:
data=pd.read_csv("./Housing.csv")
data.isnull().sum()
data.drop(['prefarea'],axis='columns',inplace=True)
conv_dates=[1 if values<3 else 0 for values in data.bedrooms]
data['bedrooms']=conv_dates

In [18]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
0,13300000,7420,0,2,3,yes,no,no,no,yes,2,furnished
1,12250000,8960,0,4,4,yes,no,no,no,yes,3,furnished
2,12250000,9960,0,2,2,yes,no,yes,no,no,2,semi-furnished
3,12215000,7500,0,2,2,yes,no,yes,no,yes,3,furnished
4,11410000,7420,0,1,2,yes,yes,yes,no,yes,2,furnished

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  furnishingstatus  545 non-null    object
dtypes: int64(6), object(6)
memory usage: 51.2+ KB

In [34]:
data1=pd.get_dummies(data['furnishingstatus'])
data=pd.concat([data,data1],axis=1).reindex(data.index)
data.drop('furnishingstatus',axis=1,inplace=True)
data

,price,area,bedrooms,bathrooms,stories,parking,no,yes,no,yes,no,yes,no,yes,no,yes,furnished,semi-furnished,unfurnished
0,13300000,7420,0,2,3,2,0,1,1,0,1,0,1,0,0,1,1,0,0
1,12250000,8960,0,4,4,3,0,1,1,0,1,0,1,0,0,1,1,0,0
2,12250000,9960,0,2,2,2,0,1,0,1,1,0,1,0,1,0,0,1,0
3,12215000,7500,0,2,2,3,0,1,0,1,1,0,1,0,0,1,1,0,0
4,11410000,7420,0,1,2,2,0,1,0,1,0,1,1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,1,1,1,2,0,1,0,1,1,0,1,0,1,0,0,0,1
541,1767150,2400,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0
542,1750000,3620,1,1,1,0,0,1,1,0,1,0,1,0,1,0,0,0,1
543,1750000,2910,0,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0
544,1750000,3850,0,1,2,0,0,1,1,0,1,0,1,0,1,0,0,0,1

In [35]:
y=data[['price']].values
x=data.drop(['price'],axis=1).values

In [36]:
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.2)

In [38]:
lire=LinearRegression()
lire.fit(x_train,y_train)

LinearRegression()

In [39]:
y_predict=lire.predict(x_test)
print(y_predict)
print(y_test)

[[5057529.59880151]
 [3322300.92518574]
 [7421525.13880584]
 [4191340.73427126]
 [5319914.50980954]
 [2556990.35472224]
 [4442566.31853276]
 [4627312.52753605]
 [5270614.58565054]
 [8648055.54078492]
 [4296780.91254991]
 [6400057.3668457 ]
 [3552241.87168973]
 [3861731.94128102]
 [2749821.77836131]
 [2810388.46489589]
 [6511384.5282702 ]
 [7046124.09688153]
 [5479395.71266638]
 [3137599.43999735]
 [5932523.14087972]
 [4669503.17289562]
 [3526721.53257335]
 [6716310.44096946]
 [3570263.69732006]
 [3199012.79017717]
 [3035287.36936036]
 [6341819.59439865]
 [5183467.30254523]
 [4666605.50893129]
 [4648185.01668282]
 [5324850.88323334]
 [3895759.95300123]
 [2076209.77990909]
 [3316613.73886349]
 [6883680.33756039]
 [4294311.84741727]
 [5188651.0390275 ]
 [5007856.80482656]
 [5057855.67424825]
 [2957435.50689421]
 [3659247.64019885]
 [2854886.1299104 ]
 [3851504.16026468]
 [5000119.43876374]
 [6730965.95887814]
 [2173187.30652503]
 [3919683.28850167]
 [3651043.87966444]
 [5309507.62425807]
 [3965294.09094602]
 [5385476.16386691]
 [2715858.22361125]
 [2449079.06497626]
 [3529746.04320255]
 [3752683.68470217]
 [3270203.80526593]
 [8584500.03821615]
 [2665915.80108592]
 [4509453.27738747]
 [6168010.29120538]
 [7398220.10312123]
 [2970099.4185039 ]
 [2786413.66754812]
 [3274656.07187109]
 [4714465.27724804]
 [4805946.43821352]
 [5701894.51743364]
 [3738317.45960386]
 [2989197.43560535]
 [6557919.43221718]
 [3435118.77749589]
 [2751854.39427739]
 [5515626.45609533]
 [5009592.32869227]
 [6478239.90033009]
 [5719411.24599511]
 [2608198.7821482 ]
 [5463539.50367296]
 [3804343.1931683 ]
 [4213866.32999137]
 [7738108.8851636 ]
 [2610824.62218388]
 [6171256.99000291]
 [4561200.69143267]
 [5700765.51798784]
 [6604990.03829783]
 [5985094.9236396 ]
 [5036881.19926332]
 [5804969.53823992]
 [3353431.27294162]
 [4711656.57077676]
 [4440689.16449439]
 [2666597.36162017]
 [2902292.86614484]
 [3334336.26470571]
 [2921566.42908512]
 [5307794.26692135]
 [6288515.64987358]
 [2610824.62218388]
 [3597300.00094648]
 [8211971.97139415]
 [5129055.2059381 ]
 [1849494.85414975]
 [6464215.97197862]
 [4859892.54866946]
 [7180915.1180601 ]
 [4341603.05959214]
 [3812953.27918637]]
[[ 7455000]
 [ 3633000]
 [ 7560000]
 [ 4655000]
 [ 4935000]
 [ 2450000]
 [ 4200000]
 [ 3780000]
 [ 5250000]
 [10150000]
 [ 4165000]
 [ 5950000]
 [ 3675000]
 [ 3500000]
 [ 3010000]
 [ 2590000]
 [ 5652500]
 [ 7420000]
 [ 5740000]
 [ 3710000]
 [ 5950000]
 [ 3360000]
 [ 4319000]
 [ 4340000]
 [ 4403000]
 [ 3500000]
 [ 3118850]
 [ 6615000]
 [ 5530000]
 [ 4007500]
 [ 3850000]
 [ 5565000]
 [ 4830000]
 [ 1855000]
 [ 2835000]
 [ 7000000]
 [ 4200000]
 [ 4900000]
 [ 5810000]
 [ 4382000]
 [ 2940000]
 [ 3815000]
 [ 4200000]
 [ 3430000]
 [ 4305000]
 [ 6755000]
 [ 2520000]
 [ 3990000]
 [ 2730000]
 [ 3640000]
 [ 4200000]
 [ 3500000]
 [ 3423000]
 [ 4200000]
 [ 2380000]
 [ 2233000]
 [ 2961000]
 [ 9681000]
 [ 1750000]
 [ 5075000]
 [ 5740000]
 [ 6510000]
 [ 2240000]
 [ 2940000]
 [ 3836000]
 [ 3885000]
 [ 3290000]
 [ 3850000]
 [ 4200000]
 [ 2450000]
 [ 7962500]
 [ 4305000]
 [ 3570000]
 [ 6650000]
 [ 5600000]
 [ 8645000]
 [ 5215000]
 [ 2870000]
 [ 5600000]
 [ 4550000]
 [ 4550000]
 [12215000]
 [ 2345000]
 [ 4200000]
 [ 4795000]
 [ 5215000]
 [ 6020000]
 [ 5565000]
 [ 5600000]
 [ 3640000]
 [ 3500000]
 [ 4767000]
 [ 4025000]
 [ 3150000]
 [ 3360000]
 [ 2450000]
 [ 3325000]
 [ 5250000]
 [ 5005000]
 [ 3570000]
 [ 3780000]
 [ 7210000]
 [ 9100000]
 [ 2604000]
 [ 5383000]
 [ 4473000]
 [ 6930000]
 [ 4480000]
 [ 2870000]]

In [40]:
print('coefficient of determination: %.3f'% r2_score(y_test,y_predict))

coefficient of determination: 0.677